@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-link {
  background-image: linear-gradient(
    to right,
    #E12A20,
    #E12A20 50%,
    #000 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text; /* Chrome, Safari 3 */
  -moz-background-clip: text; /* Firefox */
  -o-background-clip: text; /* Opera */
  -ms-background-clip: text; /* IE */
  background-clip: text; /* Standard */
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.hover-link:before {
  content: '';
  background: #E12A20;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.hover-link:hover {
  background-position: 0;
}

.hover-link:hover::before {
  width: 100%;
}

.diagonal-bg {
  position: relative;
  overflow: hidden;
}

.diagonal-bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 200%;
  height: 100px;
  background-color: #FF605F;
  transform: rotate(45deg);
  z-index: -1;
}
